/* ========================================

    1st mask
   
    ====================================== */
    .clip-image-1{
        clip-path: circle(50% at 50% 50%);
}
    
/* ========================================

    2nd mask
   
====================================== */
.clip-image-2{
   clip-path: polygon(
                      0 0,
                      0 80%,
                      50% 80%,
                      70% 100%,
                      70% 80%,
                      100% 80%,
                      100% 0)
                      ;
}
    
/* ========================================

    3rd mask
   
====================================== */
.clip-image-3{
    clip-path: polygon(
                        20% 0,
                        50% 30%,
                        80% 0,
                        100% 20%,
                        70% 50%,
                        100% 80%,
                        80% 100%,
                        50% 70%,
                        20% 100%,
                        0 80%,
                        30% 50%,
                        0 20%
    );
}


/* ========================================

    4th mask
   
====================================== */

.clip-image-4{
    clip-path: polygon(
                    0 25%,
                    50% 25%,
                    50% 0,
                    100% 50%,
                    50% 100%,
                    50% 75%,
                    0 75%
    );
}